<div class="recipe-ingredients">
  <h3>調味料一覧</h3>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %>
        <%= link_to '削除', ingredient_path(ingredient), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    <% end %>
  </ul>
</div>
