/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* トップメニュー */
#g_navi {
background: #2e1200;
}
#g_navi ul {
  display: flex;
  margin: 0 auto;
  padding: 0 3%;
  width: 94%;
  max-width: 960px;
  list-style-type: none;
}
  #g_navi ul li {
    position: relative;
    width: 20%;
  }
  #g_navi ul li:first-child::before {
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    left: 0px;
    width: 1px;
    height: 50%;
    background-color: #976d52;
  }
  #g_navi ul li::after {
    position: absolute;
    display: block;
    content: "";
    top: 25%;
    right: 0px;
    width: 1px;
    height: 50%;
    background-color: #976d52;
  }
    #g_navi ul li a {
      display: block;
      padding: 17px 10px;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
    #g_navi ul li a:hover {
      background-color: #472108;
    }

/* カルーセル */
.carousel {
  max-width: 600px;
  margin: 0 auto;
}

.carousel-inner {
  max-width: 100%;
  margin: 0 auto;
}

.carousel_wrapper {
  margin: 50px 0;
}

/* カードサイズ */
.card-img-top {
  height: 300px;
  object-fit: cover;
}

/* 見出し(要修正) */
.midashi_kari {
  text-align: center;
  color: brown;
}

/* フッター */
.footer {
  padding: 20px 0;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}


/* recipes/show(要修正) */
.recipe-container {
  display: flex;
  justify-content: space-between;
}

.recipe-left, .recipe-right {
  flex: 1;
}

.recipe-image {
  max-width: 100%;
  height: auto;
}

.recipe-steps {
  margin-top: 20px;
}


/* ユーザーアイコン */
.user-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
